<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemesis.nemesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.InvigilatorLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CandidateLogin" />
        <activity android:name=".Activities.CandidateAuth" />
        <activity android:name=".Activities.CandidateKyc" />
        <activity android:name=".Activities.CandidateList" />
        <activity
            android:name=".Qr.BarcodeCaptureActivity"
            android:parentActivityName=".Activities.CandidateLogin" />
        <activity android:name=".Activities.ProcessingActivity" />
        <activity android:name=".Activities.ScanningScreen"></activity>
    </application>

</manifest>